@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes flotar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}

.flotar {
  animation: flotar 3s ease-in-out infinite;
}