@media (max-width: 480px) {
  .form {
    padding: 20px;
    width: 100%;
  }

  .form h1 {
    font-size: 24px;
    margin-bottom: 2vh;
  }

  .form input,
  .form select {
    padding: 10px;
    font-size: 14px;
  }

  .form button {
    padding: 10px;
    font-size: 16px;
  }

  .form .footerContent {
    font-size: 13px;
  }

  .container {
    padding: 0 10px;
  }

  .toggle-password-icon {
    width: 20px;
    height: 20px;
  }
}

/* CONTENEDOR LOGIN GENERAL */
.login-wrapper {
  min-height: 100vh;
  background: linear-gradient(to bottom, #00c0f0 0%, #007edc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-container {
  display: flex;
  max-width: 1100px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  flex-direction: row;
}

.login-left {
  background-color: #007edc;
  color: #ffffff;
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login-left h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-left p {
  font-size: 1.1rem;
}

.login-logo {
  width: 150px;
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.login-right {
  flex: 1;
  padding: 3rem;
  background-color: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-left,
  .login-right {
    padding: 2rem;
    text-align: center;
    align-items: center;
  }

  .login-left h2 {
    font-size: 1.8rem;
  }
}

/* FORMULARIO */

.form {
  background-color: #007edc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
}

.form h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.container_inputs {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1.5rem;
}

.form label {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 8px;
}

.form input,
.form select,
.form textarea {
  border: 2px solid #ffffff;
  border-radius: 12px;
  padding: 10px;
  background-color: #eef7ff;
  font-size: 16px;
  color: #003366;
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px;
}

.form input::placeholder,
.form textarea::placeholder {
  color: rgba(0, 51, 102, 0.3);
}


.toggle-password-icon {
  position: absolute;
  right: 10px;
  top: 34px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.toggle-password-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #007edc;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form button:hover {
  background-color: transparent;
  color: #ffffff;
}

.form .footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.form .footerContent a {
  color: #ffffff;
  font-weight: bold;
  margin-left: 4px;
  text-decoration: underline;
}

/* MENSAJES DE ERROR */
.form .error-message {
  visibility: hidden;
  height: 20px;
  color: red;
  font-size: 13px;
  padding-left: 5px;
}

.form .error-message.visible {
  visibility: visible;
}
